brax
colorama
distrax @ git+https://github.com/google-deepmind/distrax  # distrax release doesn't support jax > 0.4.13
flashbax @ git+https://github.com/instadeepai/flashbax
flax~=0.7.5
gymnax
huggingface_hub
hydra-core==1.3.2
jax
jaxlib
jumanji @ git+https://github.com/instadeepai/jumanji.git@main
neptune
numpy
omegaconf
optax
protobuf~=3.20
rlax
tdqm
tensorboard_logger
xminigrid @ git+https://github.com/corl-team/xland-minigrid.git@main
