black==25.1.0
coverage
flake8==7.1.1
importlib-metadata>=6.0
isort==5.13.2
livereload
mkdocs==1.6.1
mkdocs-git-revision-date-plugin
mkdocs-include-markdown-plugin
mkdocs-material==9.5.39
mkdocs-mermaid2-plugin>=0.6.0
mkdocstrings==0.26.1
mknotebooks>=0.7.1
mypy==1.13.0
nbmake
pre-commit==4.0.1
promise
pymdown-extensions
pytest==8.4.0
pytest-cov
pytest-mock
pytest-parallel
pytest-xdist
pytype
testfixtures
